        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        #cglogo {
            font-family: 'Oooh Baby', cursive;
            font-size: 50px;
            color: black;
            text-align: center;
            font-weight: 200;
            margin-top: 50px;
            margin-bottom: 0;
        }
        /* container for full slideshow */
        
        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }
        /* Hide the images by default */
        
        .slides {
            display: none;
        }
        /* nav buttons */
        
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: black;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        /* button to move forward -- moves it to the right */
        
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        /* black background for hover*/
        
        .prev:hover,
        .next:hover {
            background-color: gray;
        }
        /* dots at bottom */
        
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        /*.active,
         .dot:hover {
             /*background-color: #717171;*/
        /* fade effect */
        
        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }
        
        @keyframes fade {
            from {
                opacity: .4
            }
            to {
                opacity: 1
            }
        }
        
        @media only screen and (max-width: 768px) {
            .navmenu {
                position: fixed;
                left: -100%;
                top: 0.5rem;
                flex-direction: column;
                width: 100%;
                justify-content: space-evenly;
                border-radius: 10px;
                text-align: center;
                transition: 0.3s;
                background-color: aliceblue;
            }
            .navitem {
                margin: 2.5rem 0;
            }
            .hamburger {
                display: block;
                cursor: pointer;
                right: 0;
            }
            .hamburger.active .bar:nth-child(2) {
                opacity: 0;
            }
            .hamburger.active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }
            .hamburger.active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }